{{ define "main" }}
<main class="lg:relative">
  <div class="mx-auto max-w-7xl w-full text-center lg:text-left">
    <div class="lg:w-2/3">
      <div class="hidden md:block">
        {{ partial "breadcrumb" . }}
      </div>
      <div>
        <div class="prose py-8">
          <h1>{{.Title}}, {{.Params.subtitle}}</h1>
        </div>
        <div class="flex flex-col md:flex-row md:space-x-8 pb-8">
          <div>
            <img class="w-64 rounded-lg shadow-lg" src="/images/staff/{{.Params.image}}">
          </div>
          <div class="text-sm prose max-w-sm bg-gray-200 rounded-lg shadow-lg pt-8 md:p-4">
            <h3 class="pb-2">Contact Information</h3>
            <p>
              {{.Params.affiliation}}<br/>
              <span>
                {{.Params.address}}<br/>
                {{.Params.location}}
              </span>
              <br/>
              <a href="mailto:{{.Params.email}}">{{.Params.email}}</a>
            </p>
          </div>
        </div>
        <div class="prose">
          <blockquote>
            <p>{{.Params.quote}}</p>
          </blockquote>
        </div>
      </div>
      <div class="prose xxl:prose-2xl my-8">
        <h4>Biography</h4>
        {{ .Content }}
      </div>
    </div>
  </div>
  <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/3 lg:h-full">
    <img class="absolute inset-0 w-full h-full object-cover" src="{{ .Params.sideImage }}" alt="Woman on her phone">
  </div>
</main>
{{ end }}