<html lang="en" >

{{ partialCached "head" . }}

<body class="flex flex-col min-h-screen">
  {{ partialCached "header" . }}
  <div id="main" class="flex-grow bg-gray-50">
    {{ block "main" . }}
    {{ end }}
  </div>
  {{ partialCached "footer" . }}
</body>

</html>