{{ define "main" }}
<style>
  #particles-js{ 
    position:absolute;
    z-index: 0;
    width: 100%; 
    height: 100%;
    background-color: #FFF; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%;
  }
</style>

<div class="relative overflow-hidden">
  <div class="z-0" id="particles-js"></div>
  <div class="max-w-screen-xl mx-auto flex flex-col lg:pb-20 lg:flex-row">
    <div class="z-10 px-8 py-12 xl:pl-0 lg:w-1/2 lg:pt-20">
      <main class="mx-auto max-w-screen-xl">
        <div class="sm:text-center lg:text-left">
          <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-800 sm:text-5xl sm:leading-none md:text-6xl">
            {{ .Params.heroTitle }}<br><span class="text-uwPurple">{{ .Params.heroSubTitle | markdownify }}</span>
          </h2>
          <p class="mt-3 text-base text-gray-600 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            {{ .Description }}
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a href="{{ .Params.ctaButtonLink1 }}" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-uwPurple hover:text-uwGold hover:bg-gray-300 focus:outline-none focus:border-gray-700 focus:shadow-outline-gray-900 transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                {{ .Params.ctaButtonText1 }}
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a href="{{ .Params.ctaButtonLink2 }}" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-uwGold hover:text-uwPurple hover:bg-gray-300 focus:outline-none focus:border-gray-700 focus:shadow-outline-gray-900 transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                {{ .Params.ctaButtonText2 }}
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="z-10 p-0 lg:pr-8 xl:pr-0 lg:w-1/2 lg:pt-20">
      <img class="h-56 w-full object-cover object-right-bottom sm:h-72 md:h-96 lg:w-full lg:h-full lg:rounded-lg lg:shadow-lg" src="{{ .Params.heroImage }}" alt="{{ .Params.heroCaption }}">
    </div>
  </div>
</div>

{{ partial "stats" . }}

{{ partial "leadership" . }}

{{ partial "recent-news" . }}

<script>
  particlesJS("particles-js", 
  {
    "particles": {
      "number": {
        "value": 80,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#4b2e83"
      },
      "shape": {
        "type": "polygon",
        "stroke": {
          "width": 1,
          "color": "#85754d"
        },
        "polygon": {
          "nb_sides": 6
        },
        "image": {
          "src": "img/github.svg",
          "width": 100,
          "height": 100
        }
      },
      "opacity": {
        "value": 0.5,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 3,
          "opacity_min": 0.1,
          "sync": false
        }
      },
      "size": {
        "value": 4,
        "random": true,
        "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "#85754d",
        "opacity": 0.4,
        "width": 2
      },
      "move": {
        "enable": true,
        "speed": 2,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "window",
      "events": {
        "onhover": {
          "enable": false,
          "mode": "grab"
        },
        "onclick": {
          "enable": true,
          "mode": "push"
        },
        "resize": true
      },
      "modes": {
        "grab": {
          "distance": 200,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
        },
        "repulse": {
          "distance": 200,
          "duration": 0.4
        },
        "push": {
          "particles_nb": 2
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true
  }
  );
</script>
{{ end }}