<nav class="font-bold my-8" aria-label="Breadcrumb"></nav>
  <ol class="list-none p-0 inline-flex">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  </ol>
</nav>

{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2)  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2)  }}
{{ end }}
<li class="flex items-center {{ if eq .p1 .p2 }}font-bold{{ end }}">
  {{ if not .p1.IsHome }}
  <svg class="fill-current w-3 h-3 mx-3 xxl:w-4 xxl:h-4 xxl:mx-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
    <path
      d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" />
  </svg>
  {{ end }}
  <a class="text-sm xxl:text-lg text-gray-600"
    href="{{ .p1.Permalink }}">{{if .p1.Params.shortname}}{{.p1.Params.year}} - Day {{.p1.Params.day}} - Talk {{ replace .p1.Params.talkNumber "0" ""}}: {{.p1.Params.speaker}}{{else}}{{ .p1.Title }}{{end}}</a>
</li>
{{ end }}