<head>
    {{ hugo.Generator }}
    {{ if hugo.IsProduction }}
    <meta name="ROBOTS" content="ALL">
    {{ else }}
    <meta name="ROBOTS" content="NONE">
    {{ end }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}{{ if not .IsHome}} | {{ .Site.Title }}{{end}}</title>
    <meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }} UW NNL {{ end }}">
    {{- $postcssOpts := (dict "config" "./assets/config/postcss.config.js" ) -}}
    {{ $css := resources.Get "css/styles.css" }}
    {{ $css = $css | resources.PostCSS $postcssOpts }}
    {{- if hugo.IsProduction -}}
    {{ $css = $css | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" media="screen">
    {{- else -}}
    <link rel="stylesheet" href="{{ $css.Permalink }}" media="screen">
    {{- end -}}

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>