<div x-data="{ isOpen: false }" >
  <div class="relative max-w-screen-xl mx-auto py-4 px-8 lg:px-0">
    <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start">
      <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
        <div class="flex items-center justify-between w-full md:w-auto">
          <a href="/" aria-label="Home">
            <img class="h-8 w-auto sm:h-10" src="/images/icons/nnl_logo.png" alt="Logo">
          </a>
          <div class="-mr-2 flex items-center md:hidden">
            <button type="button" @click="isOpen = !isOpen" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" id="main-menu" aria-label="Main menu" aria-haspopup="true">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="hidden md:block md:pr-4">
        {{ range .Site.Menus.main }}
        <a class="ml-8 font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out" href="{{ .URL }}" title="{{ .Title }}">
          {{ .Name }}
        </a>
        {{ end }}
      </div>
    </nav>
  </div>
  
  <div x-show="isOpen"
  x-transition:enter="transition ease-out duration-200 transform"
  x-transition:enter-start="opacity-0 scale-95"
  x-transition:enter-end="opacity-100 scale-100"
  x-transition:leave="transition ease-in duration-100 transform"
  x-transition:leave-start="opacity-100 scale-100"
  x-transition:leave-end="opacity-0 scale-95"
  class="z-50 absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
    <div class="rounded-lg shadow-md">
      <div class="rounded-lg bg-white shadow-xs overflow-hidden" role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
        <div class="px-5 pt-4 flex items-center justify-between">
          <div>
            <img class="h-8 w-auto" src="/images/icons/nnl_logo.png" alt="">
          </div>
          <div class="-mr-2">
            <button type="button" @click="isOpen = !isOpen" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Close menu">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="px-2 pt-2 pb-3">
          {{ range .Site.Menus.main }}
          <a href="{{ .URL }}" title="{{ .Title }}" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">{{ .Name }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>