<div class="bg-white">
  <div class="mx-auto py-12 px-8 max-w-screen-xl lg:px-0 lg:py-24">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl text-uwPurple">Meet our leadership</h2>
        <p class="text-xl leading-7 text-gray-500">Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae elementum enim vitae ullamcorper suspendisse. Vivamus fringilla.</p>
      </div>
      <div class="lg:col-span-2">
        <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8">
          {{ range where .Site.Pages ".Params.featured" "==" true }}
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/images/staff/{{.Params.image}}" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h4>{{ .Params.title }}</h4>
                <p class="text-uwPurple">{{ .Params.subtitle }}</p>
              </div>
            </div>
          </li>
          {{ end }}

          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h4>Michael Foster</h4>
                <p class="text-uwPurple">Co-Founder / CTO</p>
              </div>
            </div>
          </li>

          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h4>Lindsay Walton</h4>
                <p class="text-uwPurple">Front-end Developer</p>
              </div>
            </div>
          </li>

          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h4>Courtney Henry</h4>
                <p class="text-uwPurple">Designer</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>