<div class="md:pt-100 md:pb-50 py-50 bg-black">
    <div class="container py-8 mt-4">
        <div class="flex">
            <div class="md:w-3/4" id="search-results">
              <h1 class="font-header-primary text-2xl md:text-3xl text-white pt-8 mb-1 font-medium mb-8">Search Results</h1>
              
              <script id="search-result-template" type="text/x-js-template">
                <div id="summary-${key}" class="mt-8">
                  <h2 class="text-xl md:text-2xl text-white leading-normal font-light mb-4 md:mb-0"><a class="no-underline" href="${link}">${title}</a></h2>
                  <p class="text-sm leading-normal text-white mb-4">${snippet} ... <a class="block mt-2 no-underline" href="${link}">Continue Reading <span class="meta-nav ml-1">→</span></a></p>
                </div>
              </script>

              <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
              <script src="/js/search.js"></script>
            </div>
        </div>
    </div>
</div>