<div class="bg-uwGold">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:py-16 sm:px-6 lg:px-8 lg:py-20">
    <div class="max-w-4xl mx-auto text-center">
      {{ with .Params.statHeading }}
      <h2 class="text-3xl leading-9 font-bold text-white sm:text-4xl sm:leading-10">
        {{ . }}
      </h2>
      {{ end }}
      {{ with .Params.statSubtext }}
      <p class="mt-3 text-xl leading-7 text-white sm:mt-4">
        {{ . }}
      </p>
      {{ end }}
    </div>
    {{ $statsCount := len .Params.stats }}
    <dl 
    class="mt-10 text-center grid-cols-1 sm:max-w-3xl sm:mx-auto sm:grid sm:gap-8 
    {{ if eq $statsCount 2 }}
      sm:grid-cols-2
    {{ else if eq $statsCount 3 }}
      sm:grid-cols-3
    {{ else if ge $statsCount 4 }}
      sm:grid-cols-4
    {{ end }}
    ">
      {{ range .Params.stats }}
      <div class="flex flex-col">
        <dt class="order-2 mb-4 mt-2 text-lg leading-6 font-medium text-white whitespace-no-wrap">
          {{ .name }}
        </dt>
        <dd class="order-1 text-5xl leading-none font-extrabold text-uwPurple whitespace-no-wrap">
          {{ .value }}
        </dd>
      </div>
      {{ end }}
    </dl>
  </div>
</div>