<div class="flex flex-row justify-between my-4">
    {{with .NextInSection }}
    <div class="rounded-md shadow">
        <a href="{{.RelPermalink}}"
            class="no-underline w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-teci hover:bg-gray-500 focus:outline-none focus:border-teci focus:shadow-outline-teci transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
            &#8592;&nbsp;Prev<span class="hidden sm:inline-block">ious&nbsp;Talk</span></a>
    </div>
    {{end}}
    {{with .PrevInSection }}
    <div class="rounded-md shadow">
        <a href="{{.RelPermalink}}"
            class="no-underline w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-teci hover:bg-gray-500 focus:outline-none focus:border-teci focus:shadow-outline-teci transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
            Next
            <span class="hidden sm:inline-block">&nbsp;Talk</span>&nbsp;&#8594;</a>
    </div>
    {{end}}
</div>