<div class="video-responsive">
    <iframe width="570" height="315" src="https://www.youtube.com/embed/{{ .Params.video }}?showinfo=0&autohide=1&modestbranding=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
