{{ define "main" }}
<div class="max-w-7xl mx-auto px-8 pb-8 xxl:max-w-full xxl:px-48">
  <div class="hidden md:block">
    {{ partial "breadcrumb" . }}
  </div>
  <div class="prose xxl:prose-2xl my-8">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
    {{ .Content }}
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
    {{ range .Pages }}
    <div class="flex flex-col items-center justify-start bg-white p-4 shadow rounded-lg">
      <div class="inline-flex shadow-lg border border-gray-200 rounded-full overflow-hidden h-40 w-40">
        <img src="/images/staff/{{.Params.image}}" alt="Photo of {{ .Title }}" title="Photo of {{ .Title }}"
          class="h-full w-full">
      </div>

      <h2 class="mt-4 font-bold text-xl text-center">{{ .Title }}</h2>
      <h6 class="mt-2 text-sm font-medium">{{.Params.subtitle}}</h6>

      <p class="text-xs text-gray-500 text-center mt-3">
        {{.Params.affiliation}}
      </p>
      {{ if or .Params.web ( or .Params.linkedIn .Params.twitter )}}
      <ul class="flex flex-row mt-4 space-x-2">
        {{ if .Params.web }}
        <li>
          <a href="{{.Params.web}}" target="_blank" class="text-gray-400 hover:text-gray-300">
            <span class="sr-only">Website</span>
            <img src="/images/icons/web.png" alt="Website for {{ .Title }}" title="Website for {{ .Title }}"
          class="h-6 w-6">
          </a>
        </li>
        {{ end }}
        {{ if .Params.linkedIn }}
        <li>
          <a href="https://www.linkedin.com/in/{{.Params.linkedIn}}" target="_blank"
            class="ml-6 text-gray-400 hover:text-gray-300">
            <span class="sr-only">LinkedIn</span>
            <svg height=24 width=24 fill="currentColor" viewBox="0 0 382 382" xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#"
              xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="m347.44 0h-312.89c-19.084 0-34.555 15.471-34.555 34.555v312.89c0 19.085 15.471 34.556 34.555 34.556h312.89c19.085 0 34.556-15.471 34.556-34.556v-312.89c0-19.084-15.471-34.555-34.555-34.555zm-229.24 329.84c0 5.554-4.502 10.056-10.056 10.056h-42.806c-5.554 0-10.056-4.502-10.056-10.056v-179.44c0-5.554 4.502-10.056 10.056-10.056h42.806c5.554 0 10.056 4.502 10.056 10.056v179.44zm-31.459-206.41c-22.459 0-40.666-18.207-40.666-40.666s18.207-40.666 40.666-40.666 40.666 18.207 40.666 40.666-18.206 40.666-40.666 40.666zm255.16 207.22c0 5.106-4.14 9.246-9.246 9.246h-45.934c-5.106 0-9.246-4.14-9.246-9.246v-84.168c0-12.556 3.683-55.021-32.813-55.021-28.309 0-34.051 29.066-35.204 42.11v97.079c0 5.106-4.139 9.246-9.246 9.246h-44.426c-5.106 0-9.246-4.14-9.246-9.246v-181.06c0-5.106 4.14-9.246 9.246-9.246h44.426c5.106 0 9.246 4.14 9.246 9.246v15.655c10.497-15.753 26.097-27.912 59.312-27.912 73.552 0 73.131 68.716 73.131 106.47v86.846z"
                fill="#0077B7" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="m19.229 376.83c-6.3031-3.2928-9.9852-6.6699-13.539-12.417l-4.8809-7.8946v-330.46l4.0466-7.212c2.2256-3.9666 7.205-9.4295 11.065-12.14l7.0187-4.9278h336.12l7.0187 4.9278c3.8603 2.7103 8.8396 8.1732 11.065 12.14l4.0466 7.212v330.46l-4.8809 7.8947c-3.5536 5.7477-7.2354 9.1247-13.539 12.418l-8.6577 4.5228h-326.23zm95.335-38.463 3.5974-2.5198v-94.876c0-86.012-0.25029-95.153-2.6788-97.836-2.3828-2.633-5.5438-2.9601-28.603-2.9601-21.852 0-26.39 0.42086-28.885 2.6788-2.8032 2.5369-2.9601 7.6826-2.9601 97.119 0 92.282 0.07397 94.514 3.2373 97.677 2.9548 2.9548 5.3955 3.2373 27.966 3.2373 19.762 0 25.451-0.50612 28.326-2.5197zm91.814-0.027c3.1014-2.3412 3.2713-4.8366 4.0466-59.434 0.78337-55.163 0.92861-57.249 4.5303-65.063 4.7081-10.215 9.1537-15.043 17.321-18.813 11.571-5.3404 24.965-3.0756 33.747 5.7063 9.755 9.755 10.766 17.188 10.766 79.152 0 52.365 0.12819 54.651 3.2373 57.76 2.9683 2.9683 5.3955 3.2373 29.209 3.2373 25.723 0 26.012-0.0398 30.125-4.1534l4.1534-4.1533-0.82072-62.616c-0.89667-68.41-1.9214-77.605-10.788-96.807-11.951-25.881-35.235-37.775-70.129-35.82-19.658 1.101-31.549 5.621-42.813 16.274l-8.5388 8.0756v-7.1586c0-3.9372-1.1339-8.7774-2.5197-10.756-2.4347-3.476-3.4425-3.5974-29.853-3.5974s-27.418 0.12144-29.853 3.5974c-2.21 3.1552-2.5198 15.094-2.5198 97.119 0 91.363 0.0747 93.596 3.2373 96.758 2.9681 2.9681 5.3569 3.233 28.731 3.1858 20.166-0.0408 26.17-0.56217 28.731-2.4953zm-105.93-216.81c15.594-5.5018 25.491-18.176 26.976-34.544 2.8955-31.932-28.66-55.022-57.01-41.717-24.292 11.401-32.085 38.717-17.318 60.704 10.391 15.472 29.656 21.801 47.353 15.557z" />
            </svg>
          </a>
        </li>
        {{ end }}
        {{ if .Params.twitter }}
        <li>
          <a href="http://twitter.com/" target="_blank" class="ml-6 text-gray-400 hover:text-gray-300">
            <span class="sr-only">Twitter</span>
            <svg height=24 width=24 fill="currentColor" viewBox="0 0 512 512">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="m512 97.248c-19.04 8.352-39.328 13.888-60.48 16.576 21.76-12.992 38.368-33.408 46.176-58.016-20.288 12.096-42.688 20.64-66.56 25.408-19.264-20.512-46.72-33.216-76.672-33.216-58.112 0-104.9 47.168-104.9 104.99 0 8.32 0.704 16.32 2.432 23.936-87.264-4.256-164.48-46.08-216.35-109.79-9.056 15.712-14.368 33.696-14.368 53.056 0 36.352 18.72 68.576 46.624 87.232-16.864-0.32-33.408-5.216-47.424-12.928v1.152c0 51.008 36.384 93.376 84.096 103.14-8.544 2.336-17.856 3.456-27.52 3.456-6.72 0-13.504-0.384-19.872-1.792 13.6 41.568 52.192 72.128 98.08 73.12-35.712 27.936-81.056 44.768-130.14 44.768-8.608 0-16.864-0.384-25.12-1.44 46.496 29.984 101.6 47.104 161.02 47.104 193.15 0 298.75-160 298.75-298.69 0-4.64-0.16-9.12-0.384-13.568 20.832-14.784 38.336-33.248 52.608-54.496z" />
            </svg>
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
